/* manu */
@keyframes glow {
    0% {
        text-shadow: 0 0 10px rgba(0, 255, 255, 0.8), 0 0 20px rgba(0, 255, 255, 0.6), 0 0 30px rgba(0, 255, 255, 0.8), 0 0 40px rgba(0, 255, 255, 1);
    }
    100% {
        text-shadow: 0 0 15px rgba(0, 255, 255, 1), 0 0 30px rgba(0, 255, 255, 1), 0 0 45px rgba(0, 255, 255, 1), 0 0 60px rgba(0, 255, 255, 1);
    }
}

.hover\:animate-glow:hover {
    animation: glow 1.5s ease-in-out infinite alternate;
}
/* manu */


/* Aboume */

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fade-in 1.5s ease-in-out;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-in-left {
    animation: slide-in-left 1s ease-out;
}

@keyframes zoom-in {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.animate-zoom-in {
    animation: zoom-in 1s ease-out;
}

@keyframes glow-box {
    0% {
        box-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.4), 0 0 30px rgba(0, 255, 255, 0.3);
    }
    100% {
        box-shadow: 0 0 20px rgba(0, 255, 255, 0.7), 0 0 40px rgba(0, 255, 255, 0.6), 0 0 60px rgba(0, 255, 255, 0.5);
    }
}
.glow-box:hover {
    animation: glow-box 1.5s ease-in-out infinite alternate;
}

/* Aboume */




/* contact */

.glow-text {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(0, 255, 255, 0.8), 0 0 40px rgba(0, 255, 255, 1);
    animation: glow-animation 1.5s ease-in-out infinite alternate;
}

@keyframes glow-animation {
    0% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.6), 0 0 15px rgba(0, 255, 255, 0.8), 0 0 20px rgba(0, 255, 255, 1);
    }
    100% {
        text-shadow: 0 0 15px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.6), 0 0 45px rgba(0, 255, 255, 0.8), 0 0 60px rgba(0, 255, 255, 1);
    }
}
/* contact */


/*skill*/
@layer utilities {
    .hover\:shadow-glow:hover {
        box-shadow: 0 0 15px rgba(0, 255, 255, 0.8), 0 0 30px rgba(0, 255, 255, 0.6), 0 0 45px rgba(0, 255, 255, 0.8);
    }
}

/*skill*/



/* Education*/
.hidden {
    display: none;
}

.group:hover {
    box-shadow: 0 4px 8px rgba(0, 255, 255, 0.4);
    transform: scale(1.05);
}

.group:hover .border-cyan-500 {
    border-color: rgba(0, 255, 255, 0.7);
}

.group:hover .text-indigo-300 {
    color: rgba(0, 255, 255, 0.7);
}

.group:hover .hover:bg-gradient-to-r {
    background: linear-gradient(to right, rgba(0, 255, 255, 0.7), rgba(0, 0, 255, 0.7));
}

.group:hover .group-hover\:text-indigo-300 {
    color: rgba(0, 255, 255, 0.7);
}

/* Education*/


/*Project*/
.bg-gray-700:hover {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.6), 0 0 20px rgba(0, 255, 255, 0.4);
    border-color: #00bcd4; 
}

button:focus {
    outline: none;
}

.transform {
    transition: transform 0.3s ease;
}

button:hover {
    color: #00bcd4; 
}

@keyframes slide-in {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.transition-all {
    animation: slide-in 0.5s ease-out;
}


/*Project*/
